:root {
  --white: hsla(0, 0%, 100%);
  --grey: hsl(0, 0%, 75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  width: 100%;
}

.mb-25 {
  margin-bottom: 25px;
}

.opacity-5 {
  opacity: 0.5;
}

.text-white, .bg-dark {
  color: var(--white);
}

.bg-dark {
  background-color: #000;
}

.footer, .creations, .about, .navegation,
.overlay__top, .overlay__content, .container {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1160px) {
  .footer, .creations, .about, .navegation,
.overlay__top, .overlay__content, .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1110px;
  }
}

.navegation__btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px;
}

.creations .project::after, .creations .project::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.15s ease-in-out;
}

.footer__icon {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.footer__icon::after {
  animation: fadeOut 0.4s ease-in-out forwards;
  background-color: var(--white);
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 25px;
}
.footer__icon:hover::after {
  animation: fadeIn 0.4s ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

:root {
  --title-font: "Josefin Sans", sans-serif;
  --text-font: "Alata", sans-serif;
}

.text-15 {
  font-family: var(--text-font);
  font-size: 0.9375rem;
  line-height: 25px;
}

.title-40 {
  font-family: var(--title-font);
  font-size: 2.5rem;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
}
.title-32 {
  font-family: var(--title-font);
  font-size: 2rem;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}
.title-24 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 32.5em) {
  .title--sm-72 {
    font-family: var(--title-font);
    font-size: 4.5rem;
    line-height: 70px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .title--sm-48 {
    font-family: var(--title-font);
    font-size: 3rem;
    line-height: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
  .title--sm-32 {
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
}
@media (min-width: 59.375em) {
  .title--lg-72 {
    font-family: var(--title-font);
    font-size: 4.5rem;
    line-height: 70px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .title--lg-48 {
    font-family: var(--title-font);
    font-size: 3rem;
    line-height: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.section__text {
  opacity: 0.5;
}

.link__nav {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.link__nav::after {
  animation: fadeOut 0.4s ease-in-out forwards;
  background-color: var(--white);
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 25px;
}
.link__nav:hover::after {
  animation: fadeIn 0.4s ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  position: relative;
}
.header::before {
  z-index: -1;
  background-image: url(./../images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 48.75em) {
  .header::before {
    background-image: url(./../images/desktop/image-hero.jpg);
  }
}
.header__bottom {
  padding-top: 190px;
  padding-bottom: 250px;
}
.header__bottom .hero__title {
  margin: auto;
  max-width: 400px;
  padding: 25px;
  border: 2px solid white;
}
@media (min-width: 59.375em) {
  .header__bottom .hero__title {
    max-width: 650px;
    padding: 40px;
    margin: 0 auto 0 0;
  }
}

.navegation,
.overlay__top {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.navegation__logo {
  max-width: 145px;
}
.navegation__links {
  display: none;
}
@media (min-width: 48.75em) {
  .navegation__links {
    display: block;
  }
  .navegation__btn {
    display: none;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay__content {
  display: grid;
  grid-template-columns: auto;
  justify-items: start;
  grid-gap: 24px;
  position: relative;
  top: 10%;
  width: 100%;
}
@media (min-width: 48.75em) {
  .overlay {
    display: none;
  }
}

.about {
  padding-top: 100px;
}
.about__content {
  padding: 50px 25px 0;
  text-align: center;
  background-color: var(--white);
}
@media (min-width: 48.75em) {
  .about__img {
    max-width: 65.76%;
  }
  .about__content {
    padding: 5% 0 0 5%;
    max-width: 48.64%;
    position: absolute;
    right: 25px;
    bottom: 0;
    text-align: left;
  }
}
@media (min-width: 59.375em) {
  .about__content {
    padding: 6% 0 0 6%;
  }
}

.btn-outline {
  font-family: var(--text-font);
  font-size: 0.875rem;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: 5px;
  user-select: none;
  background-color: var(--white);
  border: 1px solid #000;
  padding: 13px 40px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline:hover {
  background-color: #000;
  color: var(--white);
}

.creations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "projects" "more";
  justify-items: center;
  row-gap: 40px;
  margin-top: 180px;
  margin-bottom: 180px;
}
.creations__title {
  grid-area: title;
}
.creations__projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr;
  color: var(--white);
  grid-gap: 25px;
}
.creations__btn {
  grid-area: more;
}
.creations .project {
  display: inline-block;
  position: relative;
  justify-self: center;
}
.creations .project::before {
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 50%);
}
.creations .project:hover {
  color: #000;
}
.creations .project:hover::after {
  background-color: rgba(255, 255, 255, 0.75);
}
.creations .project:hover::before {
  opacity: 0;
}
.creations .project__title {
  z-index: 1;
  position: absolute;
  transform: translateY(50%);
  bottom: 50%;
  left: 6%;
  line-height: 32px;
}
@media screen and (min-width: 320px) {
  .creations .project__title {
    transform: translateY(0);
    bottom: 16%;
    max-width: 130px;
  }
}
@media (min-width: 32.5em) {
  .creations {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title more" "projects projects";
    row-gap: 80px;
    align-items: center;
  }
  .creations__title {
    justify-self: start;
  }
  .creations__btn {
    justify-self: end;
  }
  .creations__projects {
    justify-self: start;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
  }
  .creations .project {
    width: 100%;
  }
  .creations .project__title {
    position: absolute;
    left: 15%;
    bottom: 32px;
    max-width: 169px;
    line-height: 32px;
  }
  .creations .project::before {
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 40%);
  }
}

.footer {
  display: grid;
  grid-template-areas: "logo" "navegation" "social" "copyright";
  grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: 55px;
  padding-top: 55px;
  text-align: center;
}
.footer__logo {
  grid-area: logo;
  display: inline-block;
  margin-bottom: 30px;
}
.footer__nav {
  grid-area: navegation;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
}
.footer__social {
  grid-area: social;
  margin-bottom: 15px;
}
.footer__copyright {
  grid-area: copyright;
}
.footer__icon {
  padding: 10px;
  vertical-align: middle;
}
@media (min-width: 48.75em) {
  .footer {
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "logo social" "navegation copyright";
    padding-bottom: 40px;
    padding-top: 40px;
    row-gap: 15px;
  }
  .footer > * {
    margin-bottom: 0;
  }
  .footer__logo {
    justify-self: left;
    padding-left: 15px;
  }
  .footer__social {
    justify-self: right;
  }
  .footer__nav {
    display: block;
  }
  .footer__copyright {
    padding-right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
