:root {
  --white: hsla(0, 0%, 100%);
  --grey: hsl(0, 0%, 75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

.opacity-5 {
  opacity: 0.5;
}

.text-white {
  color: var(--white);
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1160px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1110px;
  }
}

:root {
  --title-font: "Josefin Sans", sans-serif;
  --text-font: "Alata", sans-serif;
}

.text-15 {
  font-family: var(--text-font);
  font-size: 0.9375rem;
  line-height: 25px;
}

.title-40 {
  font-family: var(--title-font);
  font-size: 2rem;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
}
.title-32 {
  font-family: var(--title-font);
  font-size: 2rem;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}
.title-24 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .title--sm-72 {
    font-family: var(--title-font);
    font-size: 4.5rem;
    line-height: 70px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .title--sm-48 {
    font-family: var(--title-font);
    font-size: 3rem;
    line-height: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
  .title--sm-32 {
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
}
.section__text {
  opacity: 0.5;
}

.btn-outline {
  font-family: var(--text-font);
  font-size: 0.875rem;
  line-height: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.nav__link::after {
  animation: fadeOut 0.4s ease-in-out forwards;
  background-color: var(--white);
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 25px;
}
.nav__link:hover::after {
  animation: fadeIn 0.4s ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.hero {
  position: relative;
}
.hero::before {
  z-index: -1;
  background-image: url(/images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__top {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  align-items: center;
}
.hero__title {
  display: inline-block;
  padding: 40px;
  border: 2px solid var(--white);
  max-width: 640px;
  margin: 130px 0;
}

/*# sourceMappingURL=styles.css.map */
