@mixin textTemplate($font-size, $line-height: normal) {
	font-family: var(--text-font);
	font-size: $font-size;
	line-height: $line-height;
}

@mixin titleTemplate($font-size, $line-height: normal) {
	font-family: var(--title-font);
	font-size: $font-size;
	line-height: $line-height;
	font-weight: 300;
	text-transform: uppercase;
	// font-weight: bold;
}
