.about {
	display: grid;
	grid-template-columns: minmax(auto, 570px) minmax(auto, 160px) minmax(auto, 360px);
	grid-template-rows: auto auto;
    margin-top: 170px;
    margin-bottom: 170px;

	&__img {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}
	&__content {
		background-color: #fff;
		padding: 95px 0 0 95px;
		grid-row: 2 / 3;
		grid-column: 2 / 4;
	}
}
