.hero {
	position: relative;

	&::before {
		z-index: -1;
		background-image: url(/images/desktop/image-hero.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		filter: brightness(0.5);
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 60px 0;
		align-items: center;
	}
	&__title {
		display: inline-block;
		padding: 40px;
		border: 2px solid var(--white);
		max-width: 640px;
		margin: 130px 0;
	}
}
