@use "../util/" as *;

.about {
	@extend %container;
	padding-top: 100px;

	&__content {
		padding: 50px 25px 0;
		text-align: center;
		background-color: var(--white);
	}

	@include breakpoint(medium) {
		&__img {
			max-width: 65.76%;
		}

		&__content {
			padding: 5% 0 0 5%;
			max-width: 48.64%;
			position: absolute;
			right: 25px;
			bottom: 0;
			text-align: left;
		}
	}

	@include breakpoint(large) {
		&__content {
			padding: 6% 0 0 6%;
		}
	}
}
